body {
    margin: 0;
    padding: 0;
    background-color: #274156;
}

h1 {
    text-align: center;
    color: #FBFCFF;
    font-size: 50px;
    font-family: "Arial Black";
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    background: transparent;
    padding: 0 40vw;
    margin: 25px auto;
}

.container div {
    background-color: #1C6E8C;
    border: 1px solid #FBFCFF;
    padding: 0;
    font-size: 20px;
    text-align: center;
    width: 1fr;
    aspect-ratio: 1;
    align-content: center;
}

.container button {
    background:transparent;
    border: none;
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    padding: 0;
    margin: 0;
    align-content: center;
    text-align: center;
}

.container button:hover {
    opacity: 0.7;
    background-color: #DF9A57;
}

.container button img {
    width: 80%;
    height: 80%;
    margin: auto;
}

#textbox {
    color: #FBFCFF;
    font-family: "Arial Black";
    text-align: center;
}

ul {
    list-style-type: none;
    align-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

ul li {
}

ul li button {
    border: none;
}
